* {
    transition: 550ms;
}

@media all and (max-width: 579px){
    body{
        background-color: Violet;
    }
}
@media all and (min-width: 580px) and (max-width: 659px){
    body{
        background-color: Indigo;
    }
}
@media all and (min-width: 660px) and (max-width: 719px){
    body{
        background-color: Blue;
    }
}
@media all and (min-width: 720px)and (max-width: 799px) {
    body{
        background-color: Green
        ;
    }
}
@media all and (min-width: 800px)and (max-width: 879px) {
    body{
        background-color: Yellow;
    }
}
@media all and (min-width: 880px)and (max-width: 959px) {
    body{
        background-color: Orange;
    }
}
@media all and (min-width: 960px)and (max-width: 1039px) {
    body{
        background-color: Red;
    }
}
@media all and (min-width: 1040px) and (max-width: 1119px){
    body{
        background-color: Violet;
    }
}
@media all and (min-width: 1120px)and (max-width: 1249px) {
    body{
        background-color: Indigo;
    }
}
@media all and (min-width: 1250px) and (max-width: 1299px){
    body{
        background-color: Blue;
    }
}
@media all and (min-width: 1300px)and (max-width: 13999px) {
    body{
        background-color: Green;
    }
}
@media all and (width: 1400px){
    body{
        background-color: Yellow;
    }
}

/*
.rainbow-text {
background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
*/