html, body {
  background-color: white;
  height: 100%;
  margin: 0;
}

.grid-container {
  justify-content: center;
  width: 73%;
  margin: auto;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 5%;
  
  
}

.grid-item {
  padding: 15px;
  padding-top: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  margin: 10px;
  width: 300px;

}


.imgfood{
  height: auto;
  width: 100%;
  
}

.titelfood{
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.buybtn{
  background-color: rgb(162, 12, 12);
  text-align: center;
  width: 100%;
  height: 4.5vh;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 1vh;

}

.btndiv{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1vh;
  
  
}

.uldiv{
  height: 10vh;
  width: auto;
  margin-bottom: 1vh;
}



.sidebar {
  
  
  width: 160px;
  background-color: rgb(162, 12, 12);
  position: fixed;
  height: 100%;
}

.sideitem{
  width: auto;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
 
}


.sideitem a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  
 
  
 
  
}

.sideitem img {
  width: 50px;
  
  

  
  

}
 
 



@media screen and (max-width: 500px) {
  .sidebar {
    display: flex;
   
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
  }
  .sideitem img {
    float: left;
  }
  .sideitem a {
     display: none; 
  } 
  
}

@media (orientation: portrait) {
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
   
  }
  .sideitem img {
    float: left;
  }
  .sideitem a {
     float: left; 
     padding-top: 10px;
     padding-right: 10px;
  } 
}

@media print {
  .sidebar {
      display: none;
  }
  .grid-container{
    display: block;
    position: absolute;
    overflow: hidden;
    
  }
}

